
@{
    ViewData["Title"] = "Index";
}

<br />
<h1>Successfully Placed your order of</h1>

<table class="table">
   @* <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>*@
    <tbody>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td>@item.Pizza.Name</td>
            </tr>
        }
    </tbody>
</table>
<br />

<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <a class="btn btn-warning m-1" asp-controller="Pizza" asp-action="Index">Place a new order.</a>
</div>

